@import "./bootstrap-5.3.3/scss/bootstrap.scss";


/* index */

.card {
    height: 425.56px;
}

#img-banner {
    background-color: rgba(41, 40, 38, 255);
    background-image: url(./images/Crudazon-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;

    height: 300px;
}

#img-details {
    margin-left: 2em;
    border: 3px solid;
    height: 450px;
}